*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(207, 49, 104);
    color: white;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.naPocetak{
    position: fixed; /* fiksirana pozicija */
    bottom: 40px; /* udaljenost od donje ivice ekrana */
    right: 40px; /* udaljenost od desne ivice ekrana */
	text-decoration: none; /* običan tekst / nije podvučen */
    color: #fff; /* boja teksta */
    background-color: rgba(0, 0, 0, 0.3); /* 30% vidljivost crne pozadine */
    padding: 15px;
}
.naPocetak:hover{
    background-color:  rgba(0, 0, 0, 0.5); /* 50% vidljivost crne pozadine */
}
#menu{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  #menu .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
button{
    cursor: pointer;
    outline: none;
    border: none;
}
nav{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    /*width: 100vw;
    min-width: 30rem;*/
    justify-content: space-around;
    align-items: center;
    background-color: rgb(117, 31, 46);
    position: sticky;
    z-index: 2;
    top: 0;
}


.sekcija{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 70%;
    margin: auto;
}
.cena{
    font-weight: bold;
    text-shadow: 2px 1px 0px black;
}
h3{
    text-shadow: 2px 2px 3px black;
}
.kartica{
    color: black;
    font-weight: bold;
    text-shadow: 2px 1px 3px rgb(83, 77, 77);
}

.first{
    animation-name: animTwo;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}



@keyframes animTwo{
    0%{
        transform: translate(100rem,0rem);
    }
}
h3{
    animation-name: animThree;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.second{
    animation-name: animThree;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes animThree{
    0%{
        transform: translate(-100rem,0rem);
    }
}

@media screen and (max-width:850px){
    nav{
        flex-direction: column;
    }
   #menu{
    display: flex;
   }
   #list{
    display: none;
   }
   #list ul{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  #list li{
    justify-content: center;
    text-align: center;
  }
  #list li a{
    padding: 1rem 1rem;
  }
 
}

